* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
/* ===========================Navbar 1============== */
.first-nav {
  margin-left: 9%;
  margin-right: 9%;
}
.button-mob {
  border-radius: 50px;
  background: none;
  border: 1px solid #ebf1f6;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bacground-color {
  display: flex;
  background-color: #000;
  height: 12.2vh;
  width: 10vw;
  align-items: center;
  justify-content: center;
}
.nav-second-de {
  align-items: center;
  margin-top: -1%;
  margin-right: 9%;
  height: 12vh !important;
  
}
.content-p {
  align-items: center;
}
.boder-p {
  border-right: 2px solid #ebf1f6;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstnav-font{
  font-size: 15px;
  font-weight: 500;
  align-items: center !important;
}

.hrafternav{
  margin-top: 0.3% !important;
}
.addres-size{
  font-size: 14px !important;
  font-weight: 400 !important;
}
.boder-p-sale {
  border-left: 2px solid #ebf1f6;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ======================nav second==================== */
.get-start {
  width: 200px;
  height: 40px;
  background: #000 !important;
  color: #fff;
  position: relative;
  overflow: hidden;
  border: none;
}
.get-start::before {
  content: "";
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    width: 50px;
    height: 50px;
    background-color: #FF7017;
    border-radius: 50%;
    margin-top: 11px;
    margin-left: 131px;
}
.withdripdowna{
  display: block;

}
.withoutdropdown{
  display: none ;
}
.nav-menu {
  font-size: 14px;
  font-weight: 500;
}
/* ========================================================================================================body design===== */
.background-img-p {
  background-image: url("./Images/Rectangle\ 2.png");
  background: linear-gradient(
      87deg,
      #edf6ff 33.3%,
      rgba(215, 212, 250, 0) 80.02%
    ),
    url("./Images/Rectangle\ 2.png");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.textp {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  color: #000;
}
.text-bold {
  font-size: 64px;
  font-weight: 900;
  color: #000;
}
.button-p {
  width: 236px;
  height: 60px;
  background: #000 !important;
  color: #fff;
  position: relative;
  overflow: hidden;
  border: none;
}
.button-p::before {
  content: "";
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    width: 50px;
    height: 50px;
    background-color: #FF7017;
    border-radius: 50%;
    margin-top: 19px;
    margin-left: 185px;
}
.innivative-p{
  color: #008479;
  font-size: 17px;
  font-weight: 650;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #dae1e7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-p {
  font-size: 14px;
  color: #7b828c;
}
.costomer {
  border-radius: 50px;
  background: none;
  border: 1px solid #ebf1f6;
  height: 40px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}
.dot-border {
  border-left: 2px dotted #bfc8cf;
}
.best-it {
  color: #008479;
  font-size: 18px;
  font-weight: 500px;
  width: 221px;
}
h2 {
  font-size: 35px;
  font-weight: 600px;
}
.cont-p {
  border-left: 3px solid #008479;
  font-size: 18px;
  font-weight: 400;
}
.buttom-bt {
  border-bottom: 3px solid #008479;
  width: 174px;
}
.buttom-bt2 {
  border-bottom: 3px solid #008479;
  width: 220px;
}
.cont-p2 {
  font-size: 18px;
  font-weight: 400;
}
.our-cont {
  font-size: 45px;
  font-weight: 800;
}
.explore-btn {
  width: 170px;
  height: 45px;
  background: #000 !important;
  color: #fff;
  
}
/* ===================================================================img-w===== */
.img-rectengle14 {
  height: 400px;
  width: 500px;
}
.img-rectengle15 {
  height: 280px;
  width: 340px;
}
.img-rectengle4 {
  height: 100px;
  width: 100px;
}
.img-rectengle16 {
  height: 250px;
  width: 120px;
}
.logo-circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: absolute;
  margin-top: -88px;
  margin-left: 207px;
}
.positin-p {
  position: relative;
  justify-content: center;
}
/* ============================================================customer-solution====================== */
.customer-solution {
  /* background-image: url("./Images/Rectangle\ 18.png"); */
  /* background: rgba(0, 0, 0, 0.70); */
  
background: linear-gradient(83deg, rgba(255, 255, 255, 0.89) 59.62%, rgba(255, 255, 255, 0.00) 82.66%),url("./Images/Rectangle\ 18.png");
background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 67vh;
  width: 90%;
  border-radius: 0 0 80px 0;
  position: relative;
  margin-bottom: -200px;

}
.custom-class{
  /* position: relative; */
}
.colr-org{
    height: 75vh;
  width: 100%;
  background-color: #FF7017;
  /* position:absolute; */
  /* margin-top: 236px; */
  /* position: absolute; */
  display: flex;

}
.software-text{
    color: #FF7017;
}
.p-text-so{
    font-size: 17px;
    font-weight: 500;
}
.arrow{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    align-items: center;
}
.scriza-per{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    /* margin-bottom: 20px; */
    align-items: center;
}
/* ============================================================big-containt================ */
.container-pp{
  display: flex;
    background-color: #fff;
    /* height: auto; */
    width: 92%;
    border: 1px solid #EBF1F6;
    margin-top: -150px;
    
}
.products-btn{
    border: 1px solid #E6E8EC;
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mind-containt{
    margin-left: 10%;
    
}
.text-re{
    color: #656D7C;
    font-size: 15px;
}
.right-back{
    border: 1px solid #F0F1F2;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
}
.products-btn2{
    width: 260px !important;
    background: #F6F6FB;
}
.products-btn3{
    width: 210px;
}
.pair-img{
  display: flex;
width: 550px;
height: 400px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
/* ===========================================scriza cummunity==================== */
.cummunity-p{
  background-color: #F9FBFF;
}
.monitor{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.monitor-img{
  height: 400px;
  width: 700px;
}
/* ===============================================two imges=================== */
.color-class-p{
  background: linear-gradient(90deg, #008479 1.4%, #FF914D 99.98%);
  height: 223px;
  /* width: 50%; */
}
.first-nav2{
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}
/* ====================================The Smart Way to Market
Your Business======================================= */

.img7{
  width: 200px;
height: 35px;

}
.img8{
  width: 200px;
  height: 35px;
  
  
}
.img9{
  width: 300px;
  height: 45px;
  
}
.img10{
  align-items: center;
  width: 200px;
  height: 45px;
  
}
.dd{
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rotate{
  transform: rotate(90deg);
  
 
}
/* ========================cards=== */
.cart-title-col{
  color: #008479;
  margin-top: -15px !important;
}

.body-design{
  height: 260px;
  /* width: 200px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #FFF;
background: #F5F6F8;
box-shadow: 0px 4px 22px 0px #E3E6EB;
}
.iso-img{
  height: 140px;
}
.mss{
  margin-top: -12px;
  font-size: 14px;
}
.p-size-font{
  font-size: 13px;
}
/* =======================================================================Our clients simply love our work  */
.iverted{
  color: #008479;

font-family: Poller One;
font-size: 45px;
/* font-style: normal; */
font-weight: 400;
/* line-height: normal; */
}
.center-tt{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.style-pp{
  text-align: start;
 
}
.text-ltt{
  color: #888C9C;
  font-size: 14px;

}
.fsss{
  font-weight: 600 !important;
}
.explore-btn22 {
  width: 190px;
  height: 45px;
  background: #000 !important;
  color: #fff;
}

/* ==============================================================================RECENT BLOG=== */



.background-linear{
  height: 1581px;
  width: 100vw;
  
  background: linear-gradient(90deg,rgba(215, 212, 250, 0) 90%,#edf6ff 23%)
  
}
.b-ppggg {
  border-color: #fff;
}
.read-more{
  color: #5A6772;
font-size: 14px;
font-weight: 400;
letter-spacing: 4.8px;
}
.recharge{
  font-weight: 500;
}
.vision-mgback{
  /* background:rgba(0, 0, 0, 0.70), url("./Images/Rectangle\ 53.png"); */
  /* background: rgba(0, 0, 0, 0.70); */
  
background: linear-gradient(83deg, rgba(0, 0, 0, 0.70) 100%, rgba(255, 255, 255, 0.00) 82.66%),url("./Images/Rectangle\ 53.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  /* width: 800px; */
  /* background: rgba(0, 0, 0, 0.70); */

}
.vision-p{
  font-size: 30px;
  font-weight: 700;
}
.top-color{
  margin-top: 20%;

}

.hwform-g{
  background-color: #F7FCFE;
  width: 80%;
}
.contact{
  background-color: #F7FCFE;
  width: 80%;
}
.input-b{
  background-color: #F7FCFE;

}
.submitbtn{
  background-color: #FF7017;
  width: 80%;
  color: #fff;
  border-radius: 0% !important;
}
.mesage{
  width: 80%;
  height: 250px;
  background-color: #F7FCFE;
  
}
.btn:hover{
  background-color:#FF7017 ;
  font-size: 17px;
  color: #ffff;
  
  
}
.aditional input{
  height: 50px !important;
  border-radius:0% !important;
}
.aditional button{
  height: 50px !important;
}
/* =====================subscribe============== */
.input-btn{
  display: flex;
  height: 20%;
  width: 90%;
}
.subscribe{
  display: flex;
 
  text-align: start;
  align-items: center;
  justify-content: center;
  background-color: #008479;
  height: 150px;
  margin-top: -5%;
  position: absolute;
}
.int-he{
  height: 55px;
  

}
.btn-pp{
  background-color: #FF7017;
}
/* ===================================================footer==== */
.main-footer{
  position: relative;
  margin-top: 15%;
}
footer{
  background-color: #F5F6F8;
  /* position: relative; */
  height: auto;
  width: 100vw;
}
ul li{
  font-size: 14px;

}
.google-z{
  height: 50px;
  width: 230px;
}
.imgg-p{
  height: 69px;
}
.boder-p2 {
  border-right: 2px solid #BFC8CF;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #DAE0E4;
}
.img-4{
  margin-top: 35px;
}


  

/* ==============================================Responsive design===================================================== */
/* ##### media Query ####  */


@media screen and (max-width: 1431px) {
  /* .withoutdropdown{
    display: none;
  }
  .withdropdown{
    display: block;
  } */
}

@media screen and (max-width: 987px) {
  .button-mob{
    border-radius: 0%;
    border: #ffff;
  }
  .boder-p {
    border-right: none;
  }
  
   
}

@media screen and (max-width: 760px) {
  .dot-border {
    border-left: none;
  }
   
}
  @media screen and (max-width: 1050px) {
    .socialmedia-icon{
      display: none;
    }
    .withoutdropdown{
      display: none;
    }
    .withdropdown{
      display: block;
    }
    .mind-containt{
      margin-left: 0%;
      
  }
  }
  @media screen and (max-width: 1000px) {
     
      
  }
  @media screen and (max-width: 995px) {
  
  }
  
  @media screen and (max-width: 986px){
     
      
  }
  
  @media screen and (max-width: 810px){
      
  }

 

  @media screen and (max-width: 730px) {
    
  }
  @media screen and (max-width: 660px) {
       
 
  }

 
     @media screen and (max-width: 545px) {
      
     }
    
   

  @media screen and (max-width: 500px) {
     
     
  }
  @media screen and (max-width: 460px) {
  }